.contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
  padding-left: 0;
  @media screen and (min-width: 768px) {
    &__icon {
      margin-right: 10px;
    }
  }

  .contact__item {
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
      margin-bottom: 0;
    }
    .contact__link {
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $main-text;
      text-decoration: none;
      font-style: normal;
      fill: $main-text;
      color: $main-text;
      transition: color $timing-function, fill $timing-function;
      @media screen and (min-width: 767px) {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }

        @media screen and (min-width: 1200px) {
          margin-bottom: 0;
        }
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding-top: 31px;
        padding-bottom: 23px;
      }
    }
  }
}
.contact__item:last-child {
  margin-right: 0;
}
