.logo-footer {
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
  display: inline-block;
  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    padding: 0;
    margin-top: 0;
  }
  &__light-part {
    color: $white-color;
  }
}
