.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: $dark-background;
  background-repeat: no-repeat;
  color: $white-color;
  background-image: $background-hero,
    url(../images/images_adaptive/header_img_mob.jpg);
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
      background-image: $background-hero,
        url(../images/images_adaptive/header_img_mob_ret.jpg);
    
  }
  @media screen and (min-width: 480px)  {
    background-image: $background-hero,
      url(../images/images_adaptive/header_img_tabl.jpg);

    @media 
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
  
        background-image: $background-hero,
          url(../images/images_adaptive/header_img_tabl_ret.jpg);
    
    }
  }
  @media screen and (min-width: 768px) {
    background-image: $background-hero, url(../images/background-pic1x.jpg);
    @media
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
      background-image: $background-hero,
        url(../images/images_adaptive/header_img_desk_ret.jpg);
    
  }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: $background-hero, url(../images/background-pic1x.jpg);
    @media
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: $background-hero,
          url(../images/images_adaptive/header_img_desk_ret.jpg);
      
    }
  }

}
.title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
  color: $white-color;
  font-weight: 900;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
