
    $advantages-icon-bgn: #f5f4fa;
    $main-background: #e5e5e5;
    $dark-background: #2f303a;
    $white-color: #ffffff;
    $accent-color: #2196f3;
    $secondary-text: #212121;
    $main-text: #757575;
    $links-footer: rgba(255, 255, 255, 0.6);
    $social-icon: #afb1b8;
    $background-hero: radial-gradient(
        ellipse at center,
        rgba(47, 48, 58, 0.5),
        rgba(115, 115, 117, 0.1)
      );
    $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
